.historycontainer{
    background-color: rgb(242, 228, 223);
    min-height: 80vh;
    padding-bottom: 2vh;
}
.historybutton{
    margin-top:0vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:3vw;
}
.historygrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1vw;
    margin-top: 2vh;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}
@media screen and (max-width: 768px) {
    .historygrid{
        grid-template-columns: 1fr 1fr;
    }    
}
.historycont1{
    display: flex;
    justify-content: space-evenly;
    padding:2vh 0;
}