.wishlistpagebody{
    background-image:linear-gradient(90deg, rgba(247, 247, 220, 0.705),rgba(243, 192, 192, 0.674))
}
.wishlistpageheader{
    padding-left:1vw;
    font-family: 'Poppins', sans-serif;
    font-size: 3vmax;
    display: flex;
    align-items: center;
    gap: 1rem;
    border-bottom: 1px solid black;
}
.wishlistpagecontainer{
    min-height: 100vh;
}
.wishlistpagegrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 10px;
    grid-column-gap:10px;
    margin: 20px 0;
    padding-left: 1vw;
    padding-right: 1vw;
    min-height: auto;
}
.wishlistpageitemdiv{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    justify-content: space-between;
}
.wishlistpagecheckout{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 3vh;
    padding-left: 1vw;
    padding-right: 1vw;
}
.wishlistpagecheckoutprice{
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 768px) {
    .wishlistpagegrid{
        grid-template-columns: 1fr 1fr;
    }
}