.searchbarform{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 20px;
    margin: 2vh 1vw;
}
.searchbarform input{
    width: 95%;
    height: 40px;
    border-radius: 18px 0 0 18px;
    border: 1px solid #2e2626;
    background-color: transparent;
    padding: 0 10px;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    outline: none;
    margin-bottom: 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.searchbarform input:focus{
    border: 1.4px solid #413535;
}
.searchbarform button{
    height: 40px;
    border-radius: 0 18px 18px 0;
    border:0px;
    background-color: rgb(35, 41, 45);
    color: #fff;
    font-size: 16px;
    outline: none;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}
.searchbarform button:hover{
    background-color: #121510;
}